
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Materia</h5>
            <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="materiaForm">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nombre de la materia:</label>
                <input formControlName="nombreMateria" type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Maestro: </label>
                <input formControlName="nombreMaestro" type="text" class="form-control" id="recipient-name">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Correo: </label>
                <input formControlName="nombreCorreo" type="text" class="form-control" id="recipient-name">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Id llamada: </label>
                <input formControlName="nombreLink" type="text" class="form-control" id="recipient-name">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Otra forma de llamada: </label>
                <input formControlName="otroLink" type="text" class="form-control" id="recipient-name">
            </div>
            </form>
        </div>
        
        <div class="modal-footer">
            <button (click)="close()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button *ngIf="!dataMateria" [disabled]="!materiaForm.valid" type="button" class="btn btn-primary" (click)="addMateria()" ><i class="fas fa-plus-circle"></i> Agregar Materia</button>
            <button *ngIf="dataMateria" [disabled]="!materiaForm.valid" type="button" class="btn btn-danger" (click)="updateMateria()" >Actualizar Materia</button>

        </div>
        </div>
    </div>
