	<!-- Particulas -->
	<div id="particle-container">
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
			<div class="particle"></div>
		</div>

		
		<!-- Formulario LOGIN -->
	<div class="container-login" >
		
		<!-- partial -->
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../../../../assets/img/test.jpg" class="brand_logo" alt="Logo">
						<div class="text-login">
							<h4><b>#TareasUT</b></h4>
						</div>	
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control-login input_user" value="" placeholder="Correo">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="" class="form-control-login input_pass" value="" placeholder="Contraseña">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<!-- <input type="checkbox" class="custom-control-input" id="customControlInline"> -->
								<!-- <label class="custom-control-label" for="customControlInline">Remember me</label> -->
							</div>
						</div>
							<div class=" d-flex justify-content-center mt-3 login_container">
				 	<button type="button" name="button" class="btn login_btn">Entrar</button>
				   </div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="links-login d-flex justify-content-center links">
					<b>	¿No tienes una cuenta? </b><a href="registro" class="ml-2">Regístrate</a>
					</div>
					<div class="links-login d-flex justify-content-center links">
						<a class="pointer" (click)="resetpass()">¿Olvidaste tu contraseña?</a>
					</div>
				</div>
			</div>
		</div>
	

			<!-- partial:index.partial.html -->
		<!-- Inspired by: https://codepen.io/natewiley/pen/Ciwyn -->

		
	</div>
