
      <div class="container  ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card">
                <div class="card-header">
                    <div class="profile_pic">
                        <img src="https://firebasestorage.googleapis.com/v0/b/appagendajc.appspot.com/o/user.png?alt=media&token=b703fb9a-957b-426f-9ce4-71311d486c6a">
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-lfex justify-content-center flex-column">
                        <div class="name_container">
                            <div class="name">{{dataUser.nombreUsuario}}</div>
                        </div>
                        <!-- <div class="address">Carrera: </div> -->
                    </div>
                    <div class="info_container">

                        <div class="info">
                            <p>id</p>
                            <p>@{{dataUser.codigoUsuario}}</p>	
                            				
                        </div>	
                    </div>
                </div>
                <div class="card-footer">
                    <div (click)="verPerfil()"  class="view_profile">
                        Ver tareas
                    </div>
                    <div (click)="verHorario()"  class="message">
                        Horario
                    </div>
                </div>
            </div>
        </div>
    </div>

  