<div class="all-modal">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Perfil de tus amigos</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card">
                <div class="card-header">
                    <div class="profile_pic">
                        <img src="https://bootsnipp.com/img/avatars/92ff0456eb6106d0c1ae8ab5f1fe0afe2d2d25f2.jpg">
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-lfex justify-content-center flex-column">
                        <div class="name_container">
                            <div class="name">Andy</div>
                        </div>
                        <div class="address">Carrera: </div>
                    </div>
                    <div class="info_container">
                        <div class="info">
                            <p>correo</p>
                            <p>correo@gmail.com</p>								
                        </div>
                        <div class="info">
                            <p>id</p>
                            <p>@1651684651231</p>							
                        </div>	
                    </div>
                </div>
                <div class="card-footer">
                    <div class="view_profile">
                        View profile
                    </div>
                    <div class="message">
                        Message
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ID del amigo:</label>
            <form  [formGroup]="formControl" >
  
            <div class="input-group mb-3">
              <input min="5" max="100" formControlName="buscarAmigo" type="number" class="form-control"
                placeholder="Escriba el ID" aria-label="Recipient's username" aria-describedby="button-addon2">
  
              
  
              <!-- <div class="input-group-append">
                <button [disabled]="!formControl.valid" (click)="buscar()"  class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
              </div> -->
              <!-- <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.buscarAmigo">
                  <div class="error-message"
                    *ngIf="formControl.get('buscarAmigo').hasError(error.type) && (formControl.get('buscarAmigo').dirty ||formControl.get('buscarAmigo').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div> -->
            </div>
          </form>
  
          </div>
  
          <!-- <div  class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Personas</h6>
            <div *ngFor="let item of dataSource" class="media text-muted pt-3">
              <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="{{item.urlPerfil}}" alt="">
              <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="text-gray-dark">{{item.nombre}}</strong>
                  <button *ngIf="stadoDeamigo === false"  (click)="addAmigo(item._id)" type="button" class="btn btn-primary">Agregar</button>
                  <button *ngIf="stadoDeamigo === true"  type="button" class="btn btn-info" disabled>Pendiente</button>
                  <button *ngIf="stadoDeamigo === 'AGREGADO'"  type="button" class="btn btn-info" disabled>Agregado</button>
  
  
                </div>
                <span class="d-block">@{{item.codigoUsuario}}</span>
              </div>
            </div>
            <div *ngIf="dataSource?.length == 0">
              <h5 style="text-align: center; color: rgb(103, 106, 108);padding: 35px;">
                  No hay resultados
              </h5>
          </div>
            <small class="d-block text-right mt-3">
              <a href="#">All suggestions</a> 
            </small>
  
  
          </div> -->
  
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="close()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button *ngIf="!dataTarea" [disabled]="!tareaForm.valid" type="button" class="btn btn-primary" (click)="addTarea()" >Agregar Tarea</button> -->
        <!-- <button *ngIf="dataTarea" [disabled]="!tareaForm.valid" type="button" class="btn btn-primary" (click)="updateTarea()" >Actualizar Tarea</button> -->
  
      </div>
    </div>
  </div>
</div>