<body class="profile-page sidebar-collapse">

  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="blue">
      <div class="page-header-image" data-parallax="true"
      style="background-image:url('https://images.unsplash.com/photo-1476984251899-8d7fdfc5c92c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3700&q=80');">
      </div>
      <div class="container">


        <div class="col-md-4">
        <div class="profile-img">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>

            <div class="file btn btn-lg btn-primary">
                Change Photo
                <input type="file" name="file"/>
            </div>
        </div>
        </div>

        <h3 class="title">Itzel usuario</h3>
        <p class="category" type="mail">itzel@mail.com</p>
        <div class="content">
          <div class="social-description">
            <h2>26</h2>
            <p>Tareas Terminadas</p>
          </div>
          <div class="social-description">
            <h2>26</h2>
            <p>Tareas Pendientes</p>
          </div>
          <div class="social-description">
            <h2>48</h2>
            <p>Tareas por Equipo</p>
          </div>
        </div>

      </div>

      </div>
      <h3 class="title">Amigos</h3>

      <h5 class="amigos">Andrea Gutierrez</h5>
      <h5 class="amigos">José Cordero</h5>






    </div>



  </body>
