<body class="profile-page sidebar-collapse">

  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true"
        >
      </div>
      <div class="container">
        <div class="photo-container">
          <img src="{{dataUser.urlPerfil}}" alt="">
        </div>
        <h3 class="title">{{dataUser.nombre}}</h3>
        <p class="category">
          <input class="codigouser" type="text" value={{dataUser.codigoUsuario}} #sharableLink readonly >  
          <button class="btn  btn-round " (click)="copyToClipboard(sharableLink)" ><i class="far fa-copy"></i> Copia el ID</button>
           <!-- {{dataUser.codigoUsuario}} -->
          </p>   
        <div class="content">
          <div class="social-description">
            <h2 *ngIf="tareasPendientes != 0">{{tareasPendientes}}</h2>
            <h2 *ngIf="tareasPendientes === 0" >0</h2>
            <p>Tareas pendientes</p>
          </div>
          <!-- <div class="social-description">
            <h2>26</h2>
            <p>Tareas en proceso</p>
          </div> --> 
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a (click)="buscarAmigo()"  class="btn btn-primary btn-round btn-lg"><b>Buscar amigos  </b> <i class="fas fa-search"></i></a>
          <!-- <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
            title="Follow me on Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
            title="Follow me on Instagram">
            <i class="fab fa-instagram"></i>
          </a> -->
        </div>
        <h3 class="title">Amigos </h3>
        <!-- <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised,
          Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate
          feel with a solid groove structure. An artist of considerable range.</h5> -->
        <div>
          <app-ver-amigos  ></app-ver-amigos>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>

    <!-- <button (click)="copyToClipboard(sharableLink)" >Copy link</button>
    <input type="text" value={{dataUser.codigoUsuario}} #sharableLink readonly > -->

</body>