<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
   
    <!--                     Rutas en html   /navegador                 "focus" -->
    <a class="p-2 text-dark" [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
    <a class="p-2 text-dark" [routerLink]="[ '/perfil' ]" routerLinkActive="active">Perfil</a>
    <a class="p-2 text-dark" [routerLink]="[ '/tareas' ]" routerLinkActive="active">Tareas</a>
    <a class="p-2 text-dark" [routerLink]="[ '/calendario' ]" routerLinkActive="active">Calendario</a>
    <a class="p-2 text-dark" [routerLink]="[ '/horario' ]" routerLinkActive="active">Horario</a>
    <a class="p-2 text-dark" [routerLink]="[ '/materias' ]" routerLinkActive="materias">Materias</a>
    



    
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
