<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 style="" class="my-0 mr-md-auto font-weight-normal" [routerLink]="[ '/inicio' ]">#Tareas UT</h5>
  <nav class="my-2 my-md-0 mr-md-3">
   
    <!--                     Rutas en html   /navegador                 "focus" -->
    <a class="p-2 text-dark" [routerLink]="[ '/inicio' ]" routerLinkActive="activate">Home</a>
    <a class="p-2 text-dark" [routerLink]="[ '/perfil' ]" routerLinkActive="activate">Perfil</a>
    <a class="p-2 text-dark" [routerLink]="[ '/tareas' ]" routerLinkActive="activate">Tareas</a>
    <a class="p-2 text-dark" [routerLink]="[ '/calendario' ]" routerLinkActive="activate">Calendario</a>
    <a class="p-2 text-dark" [routerLink]="[ '/horario' ]" routerLinkActive="activate">Horario</a>
    <a class="p-2 text-dark" [routerLink]="[ '/materias' ]" routerLinkActive="activate">Materias</a>
    



    
  </nav>
  <a class="btn btn-outline-primary" (click)="logout()" >Cerrar Sesión</a>
</div>
