<div class="table-title">
    <div class="row">
        <div class="col-sm-8">
            <h2 id="Horario"><b>Horario</b></h2>
        </div>
            <form  *ngIf="!idAmigo"  [formGroup]="archivoForm" class="col-sm-4 forme-archive">
                <div class="file-field">
                  <div class="btn btn-primary btn-sm float-left">
                    <span>{{archivoForm.value.archivo}}</span>
                    <input formControlName="archivo" (change)="cambioArchivo($event)" type="file">
                  </div>
                </div>
              </form>
        </div>
        <form *ngIf="!idAmigo"  class="forme">
          <div *ngIf="estadoImg === true" class="btn btn-primary btn-sm btn-quitar">
            <button   (click)="eliminarHorario()" >Quitar imagen</button>

          </div>

          <div *ngIf="estadoImg === false"  class="btn btn-primary btn-sm btn-quitar">
            <!-- <span [disabled]="imageSrc" >subir imagen</span> -->
            <button [disabled]="!archivoForm.value.archivo"  (click)="subirArchivo()" >subir imagen</button>
          </div>
      </form>
    </div>

    <div class="horario-box">

      <img [src]="imageSrc1 || imageSrc " class="horario-img">

    </div>



