.btn-quitar{
    background-color: #a80038;
    border-color: #a80038;

}
.table-title {
    padding-top: 2em;
    padding-bottom: 15px;
    background: #009375;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

.horario-img{
    

    display: block ;
    margin: 0 auto;
     height: 70% !important; 
     width: 70% !important;

    //right: 0em;
    //height: 100% !important;
    //width: 100% !important;

    //position: flex;
    //height: 100vh;
    //background-size: 50% 50%;
    //background-position: center;
    //background-attachment: fixed;
}

.horario-box{
    border: 0.5em;
    border-style: dashed;
    color: #009375;
    border-width: 0.5em;

}

#Horario{
    position: relative;
    top: 0.75em;
    //left: 70%;
}

.forme{
    position: relative;
    padding-left: 90%;
    }
    
.forme-archive{

        padding-left: 9.8% !important;
        
        //top: 2.5em;
        //margin-left: 70%;
    }

// CHAT CSS


