.table-title {
    padding-top: 2em;
    padding-bottom: 15px;
    background: #009375;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

#horario{
    text-align: center;
}
.form{
    
}