.card-header {

    padding: 1rem;
    padding-left: 50%;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.btn-group{
    // padding-left: 65%;
}

.btn-tareas{
    // padding-left: 88%;
}

.card-header{
    padding-left: 0em;
    text-align: center;
}

.close{
    color: green;
}


.container{
    margin-left: initial;
}

