.w-100{
    
    height: 450px;
}

.carousel-caption d-none d-md-block{
    color: black;
}
.news{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.accordion{
    padding-top: 3em;
}

//Notificaciones new
.service-area{
	.header-text{
		text-align:center;
		h1{
			margin-bottom:20px;
		}	
	}
}


.single-service {
	background-color: #f9f9ff;
	padding:30px;
	margin-bottom:30px;
	border-radius: 10px;
	
	&:hover{
		box-shadow: 0px 20px 30px 0px rgba(35, 94, 231, 0.2);
		cursor:pointer;
		h4{
			color:#235ee7;
		}
	}
	h4{
		
		margin-top:20px;
		margin-bottom:20px;
		.lnr{
			margin-right:15px;
		}
	}
}

