/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-0 mr-md-auto font-weight-normal:focus{
    color: pink;
}

.mat-dialog-container {

background: none !important;
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.custom-control{
    position: unset !important;
    display: unset !important;
    min-height: unset !important;
    padding-left: unset !important;
}