   
    <div class="card">
        <div class="card-header ">
         <b> MATERIAS </b>         
        </div>
        <div class="card-body">

            <!-- <div class="btn-group mr-auto" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Eliminar Materia</button>
                        <button type="button" class="btn btn-secondary">Editar Materia</button>
                        <button type="button" class="btn btn-secondary">Agregar Materia</button>
                    </div> -->

           <!-- Modal para editar tareas  -->
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Eliminar Materias</button> -->
            <div class="btn-materias">   
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Editar Materias</button> -->
                <button type="button" class="btn btn-primary" (click)="openCrearMAteria()"><i class="fas fa-plus-circle"></i> Nueva Materia</button>
            </div>
                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Materias</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="materiaForm">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nombre de la materia:</label>
                            <input formControlName="nombreMateria" type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Maestro: </label>
                            <input formControlName="nombreMaestro" type="text" class="form-control" id="recipient-name">
                        </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button [disabled]="!materiaForm.valid" type="button" class="btn btn-primary" (click)="addMateria()" >Agregar Materia</button>
                    </div>
                    </div>
                </div>
                </div> -->


          <blockquote class="blockquote mb-0">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
                <div class="media text-muted pt-3" *ngFor="let item of materias">
                 <button class="btn btn-info mr-2"> <i class="far fa-bookmark"></i></button>
                  <!-- <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32" ><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg> -->
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">{{item.nombreMateria}}</strong>
                   
                    Profesor: {{item.nombreMaestro}} <br>Correo: <a href="mailto:{{item.nombreCorreo}}">{{item.nombreCorreo}}</a>
                    <!-- <br>Aula virtual: <a target="_blank" href="{{item.nombreLink}}/">Llévame a la web</a> -->
                    
                    <a *ngIf="item.nombreLink">
                        <br>  Aula virtual: <a target="_blank" (click)="gollamda(item.nombreLink)" style="cursor: pointer; color: #007bff;">Llévame a la llamada</a>

                    </a>
                    <br>
                    <a *ngIf="item.otroLink" > Otro tipo de llamada: <a target="_blank" href="{{item.otroLink}}/">Llévame a la llamada</a></a>
                    

                  </p>
                  <!-- <div> Correo:<form action="mailto:andy@gmail.com" ...>{{item.nombreCorreo}}</form> </div> -->
                  <button (click)="openActualizar(item)" type="button" class="btn btn-primary "><i class="fas fa-edit"></i></button>
                  <button (click)="eliminarMateria(item._id)" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                  <button type="button" class="btn btn-primary float-right"><i class="fas fa-copy"></i></button>

                </div>

                <!-- Reutilizando componente Loading -->
                <app-loading *ngIf="!materias">

                </app-loading>
                <div *ngIf="materias?.length == 0">
                    <h5 style="text-align: center; color: rgb(103, 106, 108);padding: 35px;">
                      Aún no tienes materias agregadas
                    </h5>
                  </div>
             
      </div>


